.njt-nofi-container{
  z-index: 999;
  width: 100%;
}

.njt-nofi-notification-bar {
  position: relative;
  /* z-index: 999; */
}

.njt-nofi-notification-bar .njt-nofi-content {
  text-align: center;
  padding: 10px 30px;
  margin: auto;
}

.njt-nofi-notification-bar .njt-nofi-text {
  display: inline-block;
  margin: 0 10px;
}

.njt-nofi-notification-bar .njt-nofi-button {
  display: inline-block;
  padding: 5px 10px;
}

.njt-nofi-notification-bar .njt-nofi-button .njt-nofi-button-text {
  text-decoration: none;
}

.njt-nofi-notification-bar .njt-nofi-hide {
  position: absolute;
  top: 13px;
  right: 20px;
  -webkit-transform: rotate(45deg) translate3d(0,0,0);
  transform: rotate(45deg) translate3d(0,0,0);
  text-decoration: none;
}

.njt-nofi-display-toggle {
  position: absolute;
  right: 21px;
  z-index: 9999;
  padding: 10px 10px;
  display: none;
  text-decoration: none;
}
.customize-partial-edit-shortcuts-shown .njt-nofi-container .customize-partial-edit-shortcut-button {
  left: 70px;
  top: 10px;
}
.njt-nofi-container .customize-partial-refreshing {
  opacity: 1;
  transition: opacity .25s;
  cursor: progress;
}

